<div id="{{anchorize .Params.title}}" itemscope itemtype="http://schema.org/ScholarlyArticle">
    <b>
        <span itemprop="name" class="pub-title">{{ .Params.title }}</span>
    </b>
    <meta itemprop="headline" content="{{ .Params.title }}" />
    <br>
    {{ range first (sub (len .Params.author) 1) .Params.author }}
    <span itemprop="author" class="pub-author">{{ .given }} {{ .family }},</span>
    {{ end }}
    {{ range last 1 .Params.author }}
    <span itemprop="author" class="pub-author">{{ .given }} {{ .family }}</span>
    {{ end }}
    <br>
    {{ if index .Params "venue" }}
    <div>
        In <span itemprop="publisher" itemscope itemtype="http://schema.org/Organization">
            <i itemprop="name">{{ .Params.venue }}</i></span>,
        {{ end }}
        <meta itemprop="datePublished" content="{{ .Params.year }}"> {{ .Params.year }}.
    </div>
    {{- with .Content -}}
    <div itemprop="abstract" class="pub-abs">{{ . }}</div>
    {{- end -}}
    <div class="pub-links">
        {{- if .Params.DOI -}}
        <span>
            <a class="button" href="https://doi.org/{{.Params.DOI}}">
                DOI: {{.Params.DOI}}
            </a>
        </span>
        {{- end -}}
        {{ range .Params.links }}
        <span>
            <a href="{{.link}}">{{.name}}</a>
        </span>
        {{ end }}
    </div>
</div>